##encoding: utf-8
## 請注意, 一定要有語系編碼設定, 否則無法處理中文
    <br />
    <a href="/kmol/guess.flv">神奇的猜數字遊戲，上傳操作，負責人:40223124袁丞宗</a><br />
    <a href='/kmol/code-iag7.py'>簡單的加減運算，主要設計人:謝俊宇，輔助:40223149賴涵餘、40223130陳易宥、40223109王呈煒、40223108丁軍華</a><br />
    <a href='/kmol/code-iag7.pdf'>簡單的加減運算，主要設計人:40223150謝俊宇，美編:40223149賴涵餘</a><br />